* {
    background-color: black;
}

h1 {
    text-align: left;
    margin-top: -12px;
    font-size: 48px;
    color: white;
    padding-top: 48px;
    font-family: 'SF Pro Display', sans-serif;
    padding-bottom: 20px;
}

body {
    font-size: 40px;
    color: white;
    padding-left: 48px;
    padding-right: 48px;
    font-family: 'SF Pro Display', sans-serif;
}

button {
    background-color: white;
    font-size: 28px;
    border-radius: 8px;
    padding: 8px;
}
  
  